@font-face {
    font-family: 'Maza';
    src: url('../fonts/MAZ55.woff2') format("woff2-variations");
    font-weight: 400;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'Tenor Sans';
    src: url('../fonts/TenorSans-Regular.woff2') format("woff2-variations");
    font-weight: 100 1000;
    font-display: swap;
    font-optical-sizing: auto;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
}

h6 {
    margin: 0;
}

.scrolled-active {
    height: 100px !important;
    transition: all 0.15s ease-in-out !important;

    .header-wrapper__contacts-container {
        overflow: hidden !important;
        height: 0px !important;
        min-height: 0px !important;
        transition: all 0.15s ease-in-out !important;
    }

    .header-wrapper__bottom-wrapper {
        overflow: hidden !important;
        height: 0px !important;
        min-height: 0px !important;
        transition: all 0.15s ease-in-out !important;
    }

    .header-wrapper__navigation-wrapper {
        padding: 0px 40px 0px 50px !important;
        transition: all 0.15s ease-in-out !important;
        gap: 25px !important;
        align-items: center !important;
        width: calc(100% - 90px) !important;
    }

    .header-wrapper__rows-wrapper {
        height: 100px !important;
        justify-content: center !important;
        gap: 0px;
    }
}

.header-wrapper {
    position: fixed;
    width: 100%;
    height: 180px;
    top: 0;

    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    z-index: 3;
    overflow: hidden;
    transition: all 0.15s ease-in-out !important;
}

.header-section {
    min-height: 200px !important;
}

.header-wrapper__logo {
    position: relative;
}

.header-wrapper__contacts-container {
    position: relative;
    width: calc(100% - 80px);
    height: 34px;
    min-height: 34px;

    background-color: #f4f4f4;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    transition: all 0.15s ease-in-out !important;
}

.header-wrapper__left-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    gap: 12px;
}

.left-wrapper__block {
    position: relative;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    gap: 4px;
}

.left-wrapper__icon-wrapper {
    position: relative;
    width: 16px;
    height: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.contacts-container__icon {
    position: relative;
    width: auto;
    height: 14px;
    opacity: 0.5;
}

.contacts-container__text {
    position: relative;

    font-family: 'Maza';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    display: flex;
    align-items: center;
    transition: color 0.25s ease-in-out;

    color: #343A3F;
}

.hover-animation:hover {
    color: #4888FF;
    transition: color 0.25s ease-in-out;
    cursor: pointer;
}

.header-wrapper__middle-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    gap: 12px;
}

.header-wrapper__right-wrapper {
    position: relative;
    width: 198px;
    height: fit-content;

    display: flex;
    flex-direction: row;
    gap: 18px;
}

.header-wrapper__navigation-wrapper {
    position: relative;
    width: calc(100% - 80px);
    height: 146px;
    padding: 16px 40px 0px 40px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 35px;
}

.header-wrapper__rows-wrapper {
    position: relative;
    width: 100%;
    height: 106px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header-wrapper__scrollable-wrapper {
    position: relative;
    width: 100%;
    height: 48px;

    display: flex;
    flex-direction: row;
    gap: 16px;
}

.header-wrapper__menu-button {
    position: relative;
    width: 101px;
    min-width: 101px;
    height: 48px;

    background: #4888FF;
    border: 1px solid #4888FF;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-button__icon {
    position: relative;
    width: 38px;
    height: 16px;
}

.header-wrapper__search-wrapper {
    position: relative;
    width: calc(100% - 6px);
    height: 38px;
    padding: 4px 3px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 1px solid #4888FF20;
    border-radius: 8px;
}

.search-wrapper__input {
    position: relative;
    width: calc(100% - 78px - 10px - 40px);
    border: none;
    outline: none;

    font-family: 'Maza';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;

    color: #343A3F;

    opacity: 0.5;
    padding: 10px 20px;

}

.search-wrapper__search-button {
    position: relative;
    width: 78px;
    height: 40px;
    padding: 0;

    background: #4888FF;
    border-radius: 4px;
    border: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-family: 'Maza';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        display: flex;
        align-items: center;

        color: #FFFFFF;
    }
}

.header-wrapper__social-box-wrapper {
    position: relative;
    width: fit-content;
    height: 48px;

    padding: 0px 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-box-wrapper__social-box {
    position: relative;
    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 4px;
    transition: all 0.25s ease-in-out;
}

.social-box-wrapper__social-box:hover {
    color: #4888FF;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    background-color: #D4D9DD;
}

.header-wrapper__language-wrapper {
    position: relative;
    width: fit-content;
    height: 48px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 0px 29px 0px 12px;
}

.language-wrapper__icon-wrapper {
    position: relative;
    width: 26px;
    height: 26px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.language-wrapper__icon {
    position: relative;
    width: 21px;
    height: 21px;
}

.language-wrapper__language-button {
    position: relative;
    width: 20px;
    height: 20px;
    padding: 0;

    border: none;
    outline: none;
    background-color: transparent;

    span {
        font-family: 'Maza';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        display: flex;
        align-items: center;

        color: #343A3F;

        opacity: 0.4;
    }
}

.language-active {
    span {
        color: #343A3F !important;
        opacity: 1 !important;
    }
}

.language-wrapper__divider {
    position: relative;
    width: 1px;
    height: 12px;
    background-color: #343A3F;
}

.header-wrapper__chests-wrapper {
    position: relative;
    width: fit-content;
    height: 48px;

    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 0px 0px 0px 8px;
}

.chests-wrapper__button {
    position: relative;
    width: 48px;
    height: 48px;
    border: 1px solid #D3D3D3;
    padding: 0;

    border-radius: 4px;
    background-color: transparent;
    transition: color 0.25s ease-in-out;
}

.chests-wrapper__button:hover {
    color: #4888FF;
    transition: color 0.25s ease-in-out;
    cursor: pointer;
}

.chests-wrapper__button__icon {
    position: relative;
}

.header-wrapper__bottom-wrapper {
    position: relative;
    width: 100%;
    height: 42px;

    display: flex;
    flex-direction: row;
    gap: 168px;
    transition: all 0.25s ease-in-out;
}

.header-wrapper__offers-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.offers-wrapper__button {
    position: relative;
    width: fit-content;
    height: 42px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #F4F4F4;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0px 10px;
    transition: all 0.25s ease-in-out;
}

.offers-wrapper__button:hover { 
    transition: all 0.25s ease-in-out;

    img {
        opacity: 1;
        transition: all 0.25s ease-in-out;
    }

    span {
        color: #4888FF;
        transition: all 0.25s ease-in-out;
    }
}

.offers-wrapper__icon {
    position: relative;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    transition: all 0.25s ease-in-out;
}

.offers-wrapper__text {

    position: relative;
    font-family: 'Maza';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;

    color: #343A3F;
    transition: all 0.25s ease-in-out;
}

.header-wrapper__build-pc-button {
    position: relative;
    width: 164px;
    height: 30px;
    min-width: 176px;
    min-height: 42px;

    border: none;
    outline: none;
    border-radius: 8px;
    padding: 6px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    transition: all 0.25s ease-in-out;
    background-color: #F4F4F4;
}

.header-wrapper__build-pc-button:hover { 
    background-color: #4888FF;
    transition: all 0.25s ease-in-out;

    svg {
        color: #ffffff;
    }

    span {
        color: #ffffff;
    }
}


.build-pc-button__icon {
    position: relative;
    width: 16px;
    height: 16px;
    color: #4888FF;
}

.build-pc-button__text {
    position: relative;
    min-width: 141px;

    font-family: 'Maza';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #4888FF;

}

.landing-section {
    position: relative;
    width: 100%;
    height: 439px;
    overflow: hidden;

    background: linear-gradient(95.31deg, #672870 20%, #4FE0FF 100%);
}

.landing-section__title-wrapper {
    position: relative;
    width: 50%;
    height: fit-content;
    top: 84px;
    left: 100px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 26px;
    z-index: 1;
}

.landing-section__title {
    position: relative;
    width: 100%;
    height: fit-content;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: start;

    color: #FFFFFF;
}

.landing-section__text {
    position: relative;
    width: 90%;

    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: start;

    color: #FFFFFF;
}

.landing-section__button {
    position: relative;
    width: 149px;
    height: 52px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 10px;

    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-family: 'Maza';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
       
        text-align: center;

        color: #672870;
    }
}

.landing-section__image {
    position: absolute;
    right: -201px;
    top: -99px;
    z-index: 0;
}

.other-content {
    width: 100%;
    height: 1600px;
    background-color: #fafafa;
    overflow: hidden;
}

.small-popup {
    position: fixed;
    width: fit-content;
    height: fit-content;
    top: 180px;
    left: 400px;
    padding: 24px;
    z-index: 5;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(157, 157, 157, 0.35);
    border-radius: 8px;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.small-popup__button {
    width: fit-content;
    height: fit-content;

    background-color: transparent;
    border: none;
    outline: none;

    span {
        font-family: 'Maza';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        display: flex;
        align-items: center;

        color: #343A3F;
    }
}

.popup-closer {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 4;
}

.big-popup {
    position: fixed;
    width: fit-content;
    height: fit-content;
    top: 180px;
    left: 155px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(157, 157, 157, 0.35);
    border-radius: 8px;

    display: none;
    flex-direction: row;
    z-index: 5;
    padding: 30px 30px 20px 0px;
    gap: 41px;
}

.big-popup__categories {
    position: relative;
    width: 338px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 7px;
}

.categories__stroke-wrapper {
    position: relative;
    width: 100%;
    height: 50px;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F3F3F3;
    outline: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.categories__stroke-wrapper:hover {
    background-color: #F3F3F3;
}

.stroke-wrapper__icon {
    position: relative;
    width: 24px;
    height: 24px;
    opacity: 0.5;
}

.stroke-wrapper__text {
    position: relative;
    width: fit-content;
    height: 20px;

    font-family: 'Maza';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;

    color: #343A3F;
}

.stroke-wrapper__arrow {
    position: relative;
    color: #343A3F;
}

.stroke-wrapper__text-icon-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.big-popup__items {
    position: relative;
    width: fit-content;
    height: fit-content;

    display: flex;
    gap: 48px;
}

.items__categories-nested {
    position: relative;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.categories-nested__title {
    position: relative;
    width: fit-content;
    height: 38px;

    font-family: 'Maza';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    display: flex;
    align-items: center;

    color: #343A3F;
}

.categories-nested__text-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.categories-nested__text {
    position: relative;
    width: fit-content;
    height: 20px;

    font-family: 'Maza';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;

    color: #343A3F;
    transition: color 0.25s ease-in-out;
}

.categories-nested__text__amount {
    font-family: 'Maza';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: rgba(52, 58, 63, 0.5);
    transition: color 0.25s ease-in-out;
}

.categories-nested__line-wrapper {
    position: relative;
    width: 209px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.categories-nested__line-wrapper:hover {

    p {
        color: #4888FF;
        transition: color 0.25s ease-in-out;
        cursor: pointer;
    }

    span {
        color: #4888FF;
        transition: color 0.25s ease-in-out;
        cursor: pointer;
    }
}

.header-wrapper__mobile-header {
    position: relative;
    width: calc(100% - 32px);
    height: fit-content;
    padding: 10px 16px 24px 16px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mobile-header__buttons-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;

    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons-wrapper__block {
    position: relative;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    gap: 6px;
}

.buttons-wrapper__menu-button {
    position: relative;
    width: 40px;
    height: 40px;

    background: #4888FF;
    border: 1px solid #4888FF;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-wrapper__menu-button__icon {
    position: relative;
    width: 22px;
    height: 13px;
}

.buttons-wrapper__chests-button {
    position: relative;
    width: 40px;
    height: 40px;

    box-sizing: border-box;
    border: none;
    border: 0.833333px solid #D3D3D3;
    border-radius: 5px;
    background-color: transparent;
    transition: color 0.25s ease-in-out;
}

.buttons-wrapper__chests-button:hover {
    color: #4888FF;
    transition: color 0.25s ease-in-out;
    cursor: pointer;
}

.mobile-header__buttons-wrapper__logo {
    position: relative;
    width: 56px;
    height: 56px;
}

.left-wrapper__language-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.left-wrapper__language-button {
    position: relative;
    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0;

    span {
        position: relative;
        height: 16px;

        font-family: 'Maza';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        display: flex;
        align-items: center;

        color: #343A3F;
        opacity: 0.4;
    }
}

.left-wrapper__language-divider {
    position: relative;
    height: 12px;
    width: 1px;

    background-color: #343A3F;
}

#language-swap-block {
    display: none;
}

#mobile-search {
    display: none;
}

.mobile-popup {
    position: fixed;
    width: calc(100% - 32px);
    height: calc(100% - 150px);
    top: 160px;
    background-color: #FFFFFF;
    z-index: 5;
    padding: 0px 16px 0px 16px;

    display: none;
    flex-direction: column;
    gap: 24px;
}

.mobile-popup__info-block {
    position: relative;
    width: calc(100% - 2px);
    height: 48px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 0px 0px 2px;
}

.mobile-popup__info-block__location-time {
    position: relative;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.mobile-popup__info-line {
    position: relative;
    width: fit-content;
    height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mobile-popup__icon {
    position: relative;
    opacity: 0.5;
}

.mobile-popup__text {
    position: relative;

    font-family: 'Maza';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;

    color: #343A3F;
}

.mobile-popup__info-block__socials {
    position: relative;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    gap: 6px;
}

.socials__button {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #F4F4F4;
    border-radius: 3.33333px;
}

.mobile-popup__buttons-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mobile-popup__buttons-wrapper__button {
    position: relative;
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    padding: 0px 14px;
    background: #F4F4F4;
    border-radius: 6px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons-wrapper__left-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.buttons-wrapper__left-wrapper__icon {
    position: relative;
    width: 24px;
    height: 24px;
    object-fit: contain;
    opacity: 0.5;
}

.buttons-wrapper__left-wrapper__text {
    position: relative;
    font-family: 'Maza';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;

    color: #343A3F;
}

.mobile-popup__pc-button {
    position: relative;
    width: 100%;
    height: 48px;
    min-height: 48px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding: 0px 14px;
    background: #F4F4F4;
    border-radius: 6px;
}

.pc-button__create-pc-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.create-pc-wrapper__plus-icon {
    position: relative;
    color: #4888FF;
}

.create-pc-wrapper__text {
    position: relative;
    width: fit-content;
    height: fit-content;

    font-family: 'Maza';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;

    color: #4888FF;
}

.mobile-popup__navigation {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    padding-top: 16px;
}

.mobile-popup__navigation__container {
    position: relative;
    width: 100%;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #E8E8E8;
}

.mobile-popup__navigation__text {
    position: relative;
    width: fit-content;
    height: 20px;

    font-family: 'Maza';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;

    color: #343A3F;
}

.mobile-popup__title-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 38px;
    padding: 24px 0px 0px 7px;
}

.mobile-popup__title {
    position: relative;
    width: fit-content;
    height: 24px;

    font-family: 'Maza';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    display: flex;
    align-items: center;

    color: #343A3F;
}

/* Adaptation starts here */

@media only screen and (max-width: 1342px) { 

    .header-wrapper {
        height: 220px;
    }

    .landing-section {
        height: 700px;
    }

    .landing-section__title-wrapper {
        width: 40%;
        left: 50px;
    }

    .scrolled-active {
            height: 100px !important;
            min-height: 100px; 
    }
}

@media only screen and (max-width: 1017px) { 

    .header-wrapper__language-wrapper {
        padding: 0;
    }

    .header-wrapper__menu-button {
        width: 50px;
        min-width: 50px;
    }

    .header-wrapper__social-box-wrapper {
        display: none;
    }

    .header-wrapper__bottom-wrapper {
        gap: 80px;
    }

    .landing-section__title-wrapper {
        width: 60%;
        left: 50px;
    }

    .landing-section__image {
        right: -450px;
        top: 80px;
    }
}

@media only screen and (max-width: 929px) { 
    .header-wrapper {
        height: 280px;
    }
}

@media only screen and (max-width: 768px) { 
    .header-wrapper__navigation-wrapper {
        display: none;
    }

    .header-wrapper {
        height: fit-content;
        min-height: 174px;
    }

    .header-wrapper__middle-wrapper {
        display: none;
    }

    .mobile-header__buttons-wrapper {
        display: flex;
    }

    #mobile-search {
        display: flex;
    }

    .landing-section {
        height: 550px;
    }

    .landing-section__image {
        right: -100px;
        top: 160px;
        width: 397px;
        height: 356px;
    }

    .landing-section__title-wrapper {
        width: 90%;
        left: 15px;
        top: 30px;
        gap: 16px;
    }

    .landing-section__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
    }

    .landing-section__text {
        font-size: 14px;
        line-height: 19px;
        height: 60px;
        overflow: hidden;   
        text-overflow: ellipsis;  
        width: 100%;
    }

    .search-wrapper__search-button {
        width: 40px;
        height: 40px;
    }

    .search-wrapper__input {
        width: calc(100% - 40px - 10px - 26px);
        padding: 14px 16px 14px 10px;
        font-size: 14px;
    }
    
    .header-section {
        min-height: 174px !important
    }
}

@media only screen and (max-width: 560px) { 
    .header-wrapper__right-wrapper {
        display: none;
    }

    .header-wrapper__contacts-container {
        width: calc(100% - 32px);
        height: 26px;
        min-height: 26px;
        padding: 0px 15px;
    }

    #location-block {
        display: none;
    }

    .header-wrapper__left-wrapper {
        width: 100%;
        justify-content: space-between;
    }

    #language-swap-block {
        display: flex;
    }

    .landing-section__image {
        right: -217px;
        top: 187px;
        width: 397px;
        height: 356px;
    }

    .landing-section {
        height: 400px;
    }

    .mobile-popup {
        top: 150px;
    }
}

@media only screen and (max-width: 360px) { 

}